@font-face {
  font-family: 'LatoBlack';
  src: url('./assets/fonts/Lato-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: url('./assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoLight';
  src: url('./assets/fonts/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoRegular';
  src: url('./assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoThin';
  src: url('./assets/fonts/Lato-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  ;
  margin: 0;
  font-family: 'Lato', Verdana, sans-serif;
  ;
  font-size: 1.6rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0px 40px;
}

.quote{
  height: 654px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.quete__title{
  padding-top: 60px;
  font-family: LatoBlack, sans-serif;
  font-size: 3rem;
  color: #f0d8d9;
}

.quete__subtitle{
  font-family: LatoLight, sans-serif;
  font-size: 1.8rem;
  color: #f0d8d9;
  margin-top: 30px;

}
.contact__content{
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.contact__form{
 max-width: 650px;
}
.contacts__input{
  width: 100%;
  border: none;
  padding: 10px 14px 13px;
  border-radius: 5px;
  background-color: #d6564f;
  margin-bottom: 16px;
}
.contacts__text{
  width: 100%;
  border: none;
  padding: 10px 14px 13px;
  border-radius: 5px;
  background-color: #d6564f;

}
.contact-description{
  max-width: 301px;
  color: #f0d8d9;
  margin-left: 20px;

}
.contact-description__title{
  font-family: LatoBlack, sans-serif;
  font-size: 3rem;
  color: #f0d8d9;
}
.contact-description__subtitle{
  font-family: LatoRegular, sans-serif;
  font-size: 1.2rem;
  color: #f0d8d9;
}
